$green: #337680;
$dark-grey: #364554;
$light-green: #3AB2B2;
$med-grey: #928890;
$med-blue: #67AFDE;
$tan: #DE8870;
$light-blue: #5DCFD9;
$light-green: #9EC8B0;
$light-grey: #D6D9DD;
$white: #eee;
$pitch: #101010;
$nav-height: 50px;